.container{
  display: flex;
  
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 50vh;
  margin: auto;
  margin-top: 20px;
  flex-direction: column;
  width: 40%;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.23);

}
h1{
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 34px;
}
.container form .feild{
  height: 80px;

}
.container form .feild label{
  font-size: 30px;
  font-weight: 500;
}
.container p{
  color: red;
  font-weight: bold;
  font-size: 10px;
}
.container form .feild input{
  outline: none;
   border:none;

  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  width: 80%;
  padding: 10px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container form .feild input::placeholder{
  opacity: 0.3;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container form .feild input:focus{
   border:2px solid rgb(30, 72, 238);
}

.container form button{
  width: 40%;
  padding: 15px 0px;
  background-color: black;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}