*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #141414;
}
a{
  text-decoration:none;


}
ul{
  list-style: none;


}
.flexSB{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.container{
  max-width: 90%;
  margin: auto;
}
button{
  background-color: #e50813;
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 40px;
  font-weight: 500;
  font-size: 17px;
}
.control-btn button{
  background: none;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.control-btn .next{
  position: absolute;
  top: 50%;
  right: 2%;
}
.control-btn .prev{
  position: absolute;
  top: 50%;
 left: 2%;
  z-index: 999;
}
.heding h1{
font-weight: 500;
margin: 30px 0;

}
.heading a{
  color:#e50813

}
.MovieBox{
  width: 430px;
  height: 300px;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-left: 5px solid #fff;

}
.MovieBox:hover{
  cursor: pointer;
  border-left: 5px solid #e50813;
  transform: scale3d(1.1,1.1,1) translate3d(6%,0,0) perspective(31.25em);
  -webkit-transform: scale3d(1.1,1.1,1) translate3d(6%,0,0) perspective(31.25em);
  -moz-transform: scale3d(1.1,1.1,1) translate3d(6%,0,0) perspective(31.25em);
  -ms-transform: scale3d(1.1,1.1,1) translate3d(6%,0,0) perspective(31.25em);
  -o-transform: scale3d(1.1,1.1,1) translate3d(6%,0,0) perspective(31.25em);
  box-shadow: 0 0 0.73em rgba(0, 0, 0, 0.9);
}
.MovieBox::after{
  content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 430px;
    height: 300px;
    z-index: -1;
    background: linear-gradient(90deg,rgba(0,0,0,0.8) 0%,rgba(20,20,20,0.4) 50%,rgba(83,100,141,0),100%);
}
.MovieBox img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.MovieBox .text{
  padding: 70px 50px;



}
.MovieBox h3{
  font-weight: 500;
  margin-bottom: 15px;

}
.MovieBox button{
  margin-top: 15px;
  padding: 12px 20px;
  font-size: 13px;
  cursor: pointer;

}
.MovieBox button i{
  margin-right: 10px;

}